*{
	margin: 0;padding: 0; text-decoration: none;    font-family: 'Impact';
}

h1{
	color:#666;text-align: center;
}

h2{
	color:#111111;text-align: left;
}

a {
	color: white;
}

p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 100;
}

header {
	background-color:  #000000;	color:white;height: 9vh;min-height: 85px;margin: 5px;width:100vw; min-width: 380px;

	border-bottom: 10px solid #ee3425;

	align-content: center;
	
	justify-content: left;
	margin: 0px;
	width: 100%;
}

nav {
	background-color: #000000;color:white; 
	align-self: center;
	justify-content: left;
	justify-items: left;
	text-align: left;
	margin-left: 4rem;
}	

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:
    "Roboto",
    Open Sans,
    sans-serif;
}

h1 {
  color: #666;
  text-align: center;
}

h2 {
  color: #666;
  text-align: center;
}

a {
  color: white;
}

header {
  background-color: #666;
  color: white;
  text-align: center;
  height: 9vh;
  min-height: 85px;
  margin: 5px;
  width: 100vw;
  min-width: 380px;
}

header img {
  display: inline;
  margin: 5px;
}

nav {
  background-color: #666;
  color: white;
}

nav li {
  display: inline;
  margin: 5px;
  padding: 5px;
  vertical-align: middle;
}

main{height:78%;
	}
main img{
	height: 100px;
	width: auto;
}
footer {
	color:#111111;text-align: center;vertical-align: bottom;}

form{height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }


 .index-content{height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
	
	align-items:flex-start;
	margin-left: 4rem;
	margin-right: 4rem;
	
 }



hr{
	color: #ee3425;
	background-color: #ee3425;
	border: none;
	height: 2px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

#logo{
	width: 20%;
	display: inline;
	margin: 5px;
}
main {
  height: 78%;
}

main img {
  height: 50px;
  width: auto;
}

footer {
  color: #666;
  text-align: center;
  vertical-align: bottom;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colaboradores{
	width: 90%	;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	gap: 16px;
	padding: 20px;
  height: auto; }
  
  
.marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
  padding: 20px;
  height: auto;
}
 
#servicios{
	li{
		margin-bottom: 10px;
	}
}

.marcas img {
  width: 15%;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

 
.productos img {
  width: 400px;
  height: 70%;
  object-fit: contain;
  border: 1px solid #666;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}


/* Estilos preset de reseñas */

 
  .comentario {
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  .comentario .fecha {
    font-size:90%;
    color: #888;
    
  }

 
.reseñas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  padding: 5%;
  background-color: #f9f9f9;
}

.comentario {
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.comentario .fecha {
  font-size: 90%;
  color: #888;
}
  /* Productos */
  
  .division-juegos{
	margin: 10px;
}

.productos p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;
	text-align: center;
  }